.letter {
  width: 1.2rem;
  height: 1.2rem;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.hangman-game {
    display: flex;
    height: 20rem;
}

.hangman {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.button:hover {
    background-color: orange;
    cursor: pointer;
    border: 0;
}





.keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.keyboard-top, .keyboard-mid, 
.keyboard-bottom {
  display: flex;
  gap: 0.2rem;
}

.keyboard-top button, .keyboard-mid button, 
.keyboard-bottom button {
    width: 1rem;
    height: 1rem;
}

.button {
  border: 0;
}

.text, .win {
  text-align: center;
  padding: 1rem;
}

.winner {
  height: max-content;
}

.tries {
  text-align: center;
}



.imageToShow {
  width: 5rem;
  height: 5rem;
}
