.sudoku-game {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60svh;
  width: 90%;
}

.sudoku-div {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1px;
  width: fit-content;
  height: fit-content;
  border: 2px solid black;
}

.Buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90svw;
}

.dissapear {
    display: none;
}

#cell,
.numbers button {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

.numbers button {
  border: 1px solid orange;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 0.5rem;
}

.numbers button:hover {
  background-color: orange;
}

.highlighted {
  background-color: orange;
}

.sudoku-div input {
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #ccc;
}

.winner.show {
  display: block;
}

.winner.hide {
  display: none;
}

@media screen and (min-width: 700px) {
  .sudoku-game {
    width: 50%;
  }

  .sudoku-div input {
    font-size: 0.8rem;
    text-align: center;
  }

  .sudoku-title {
    margin-top: 1rem;
  }
}